In [41]:
import pandas as pd

dadostransacoes = pd.read_csv("DadosTratados.csv")
dadosclientes = pd.read_csv("exportedContacts.csv", sep=";")

dados_cruzados_clientes_transacoes =\
dadosclientes.merge(dadostransacoes[['ID', 'Status', 'Transaction ID', 'Shipping', 'Total']], on='ID', how='inner')
dados_cruzados_clientes_transacoes =\
dados_cruzados_clientes_transacoes[['ID', 'Status', 'Transaction ID', 'Shipping', 'Total', 'CEP']]
dados_cruzados_clientes_transacoes.to_csv('dados_cruzados_clientes_transacoes.csv', index=False)
dados_cruzados_clientes_transacoes

dados_cruzados_clientes_transacoes_nao_concluidas = dados_cruzados_clientes_transacoes[dados_cruzados_clientes_transacoes['Status'] != "Completed"][['ID', 'Status', 'Transaction ID', 'Shipping', 'Total', 'CEP']]
dados_cruzados_clientes_transacoes_nao_concluidas.to_csv('dados_cruzados_clientes_transacoes_nao_concluidas.csv', index=False)

dados_cruzados_clientes_transacoes_concluidas = dados_cruzados_clientes_transacoes[dados_cruzados_clientes_transacoes['Status'] == "Completed"][['ID', 'Status', 'Transaction ID', 'Shipping', 'Total', 'CEP']]
dados_cruzados_clientes_transacoes_concluidas.to_csv('dados_cruzados_clientes_transacoes_concluidas.csv', index=False)

         ID     Status  Transaction ID  Shipping    Total        CEP
0         1  Completed            1371      0.00     1.50  74120-130
1         1   Refunded            8826     15.00    53.30  74120-130
2         1  Completed            8831      0.00   -53.30  74120-130
3         1  Cancelled            8829     15.00    53.30  74120-130
4         1  Cancelled            8830      0.00    38.30  74120-130
...     ...        ...             ...       ...      ...        ...
18798  8979  Completed           67340     41.59   399.79  22250-060
18799  8980       Hold           67346      0.00   680.58  05044-050
18800  8981  Completed           67348      0.00  2248.20  60864-590
18801  8982     Failed           67349     34.97   102.97  07270-290
18802  8982     Failed           67352     35.57   133.57  07270-290

[18803 rows x 6 columns]

In [53]:
dados_cruzados_clientes_transacoes_nao_concluidas = dados_cruzados_clientes_transacoes[dados_cruzados_clientes_transacoes['Status'] != "Completed"][['ID', 'Status', 'Transaction ID', 'Shipping', 'Total', 'CEP']]
dados_cruzados_clientes_transacoes_nao_concluidas.to_csv('dados_cruzados_clientes_transacoes_nao_concluidas.csv', index=False)

In [54]:
dados_cruzados_clientes_transacoes_concluidas = dados_cruzados_clientes_transacoes[dados_cruzados_clientes_transacoes['Status'] == "Completed"][['ID', 'Status', 'Transaction ID', 'Shipping', 'Total', 'CEP']]
dados_cruzados_clientes_transacoes_concluidas.to_csv('dados_cruzados_clientes_transacoes_concluidas.csv', index=False)

In [52]:
dados_cruzados_clientes_transacoes_nao_concluidas

         ID     Status  Transaction ID  Shipping   Total        CEP
1         1   Refunded            8826     15.00   53.30  74120-130
3         1  Cancelled            8829     15.00   53.30  74120-130
4         1  Cancelled            8830      0.00   38.30  74120-130
7         1  Cancelled            9335      0.00   49.80  74120-130
8         1  Cancelled           43301     15.00  184.20  74120-130
...     ...        ...             ...       ...     ...        ...
18796  8978       Hold           67338     60.47  377.27  22630-010
18797  8978       Hold           67339      0.00  405.00  22630-010
18799  8980       Hold           67346      0.00  680.58  05044-050
18801  8982     Failed           67349     34.97  102.97  07270-290
18802  8982     Failed           67352     35.57  133.57  07270-290

[6605 rows x 6 columns]

In [1]:
import requests

cep = "20.090-002"

cep = cep.replace("-", "").replace(".", "").replace(" ", "")

if len(cep) == 8:
    link = f'https://viacep.com.br/ws/{cep}/json/'

    requisicao = requests.get(link)

    print(requisicao)

    dic_requisicao = requisicao.json()

    uf = dic_requisicao['uf']
    cidade = dic_requisicao['localidade']
    bairro = dic_requisicao['bairro']
    print(dic_requisicao)
else:
    print("CEP InvÃ¡lido")

<Response [200]>
{'cep': '20090-002', 'logradouro': 'Avenida Rio Branco', 'complemento': 'de 32 a 62 - lado par', 'bairro': 'Centro', 'localidade': 'Rio de Janeiro', 'uf': 'RJ', 'ibge': '3304557', 'gia': '', 'ddd': '21', 'siafi': '6001'}

In [4]:
from pycorreios import Correios

# with a dictionary paramenter - the field order doesn't matter
fields = {
          "cod": Correios.SEDEX, 
          "GOCEP": "44001535",
          "HERECEP": "03971010",
          "peso": "1",
          "formato": "1", # caixa/pacote
          "comprimento": "18",
          "altura": "9",
          "largura": "13.5",
          "diametro": "0"
          }

test = Correios().frete(**fields)   # remember to call with **

# or with positional parameters - same result as above
test = Correios().frete(Correios.SEDEX, '44001535', '03971010', 1, 1, 18, 9, 13.5, 0)

if test['Erro'] != '0':
    print('Deu erro! :(')
    print(test['Erro'])
    print(test['MsgErro'])
else:
    print("Valor: R$%s\nPrazo de Entrega: %s" % (test['Valor'],test['PrazoEntrega']))


other_test = Correios().cep('03971010')

for tag_name in other_test.keys():
    print(tag_name + ': ' + other_test[tag_name])
    
other_test = Correios().encomenda('PJ382325976BR')

for tag_name in other_test.keys():
    print(tag_name + ': ' + other_test[tag_name])

ModuleNotFoundError: No module named 'pycorreios'